@model IEnumerable<SchulungMvc.Common.ViewModels.AuthorViewModel>

<table class="table table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Photo)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>
                    <!-- Klassik -->
                    <img width="120" src="@Url.Action("GetImage","Authors", new { authorId = author.Id })" />
                </td>
                <td>@Html.DisplayFor(modelItem => author.Name)</td>
                <td>@Html.DisplayFor(modelItem => author.Description)</td>
                <td>@Html.DisplayFor(modelItem => author.BirthDate)</td>
                <td>
                    <a asp-action="Edit">Edit</a>
                    <a asp-action="Details" asp-route-id="@author.Id">Details</a>
                    <a asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
